
/*********************
 * inline code
 */

code {
  padding: .15em .3em;
  border: 1px solid #E5E5E5;
  background-color: #f7f7f7;
  color: maroon;  /* dark-ish red */
}


/*********************
 * code block (e.g. pre > code)
 */

pre {
/*  border: 1px solid #E5E5E5;
  background-color: #f7f7f7;
*/
  color: white;
  background-color: black;
  padding: 1em;
  border-radius: 5px;
}

pre > code {
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
}
